.loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
}

.loginInput {
  width: 100%;
  height: 30px;
  padding: 4px 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.loginInput:focus {
  border: 1px solid rgb(255, 129, 19);
}

.loginBtn {
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgb(255, 129, 19);
  color: #fff;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #fff;
  color: rgb(255, 129, 19);
  border: 1px solid rgb(255, 129, 19);
}
