.navTitle {
  margin-left: 100px;
  margin-right: 136px;
  color: rgba(255, 129, 19, 0.425);
  font-size: 26px;
  border-bottom: 1px solid rgba(255, 129, 19, 0.438);
}

.nav {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-right: 600px;
}
