html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin: auto;
}
