.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.contacts__name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}

.deleteButton {
  margin-left: 20px;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: rgb(255, 129, 19);
  color: #fff;
  border: 1px solid transparent;
  font-size: 14px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #fff;
  color: rgb(255, 129, 19);
  border: 1px solid rgb(255, 129, 19);
}
